/*
Theme Name: Cloud love2
Theme URI: http://wordpress.org/themes/Cloudlove2
Author: Cloud
Author URI: http://wordpress.org/
Template: TangStyle
Description: Cloud love theme base on the Tang Style
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: dark, light, white, black, gray, one-column, two-columns, left-sidebar, right-sidebar, fixed-width, flexible-width, custom-background, custom-colors, custom-header, custom-menu, editor-style, featured-image-header, featured-images, flexible-header, full-width-template, microformats, post-formats, rtl-language-support, sticky-post, theme-options, translation-ready
Text Domain: twentyeleven
*/

/* =Reset default browser CSS. Based on work by Eric Meyer: http://meyerweb.com/eric/tools/css/reset/index.html
-------------------------------------------------------------- */
@import url("../tangstyle/style.css");
 
 #navigation {
    float: left;
    padding-top: 90px;
}

.cutline {
    border: 1px dashed #CCCCCC;
    float: left;
    margin-top: 80px;
    position: absolute;
    width: inherit;
}


#search {
    float: right;
    margin-top: 20px;
    overflow: hidden;
    position: relative;
}
#searchform {
	background-color: transparent;
}
#s{
	background-color: transparent;
	border-bottom: 1px solid #CCC;
	width: 160px;
}
#s:hover{
	background-color: transparent;
	border-bottom: 1px solid #33BFE5;
}

#searchsubmit i {
    color: #919191;
}

#searchsubmit:hover i{color:#47B4DA}
 
 #mytag{
  	margin-top:	5px;
  	line-height: 30px;
 }
 
 .post_list h2 a:hover{
 
 color:#47B4DA
 }
 
 .widget a:hover {
    color: #47B4DA;
}
a:HOVER {
	 color: #47B4DA;
}