/*
Default style for WP-PageNavi plugin

http://wordpress.org/extend/plugins/wp-pagenavi/
*/
div.wp-pagenavi {
	color: #777777;
	margin: 5px 0px;
}

div.wp-pagenavi span.pages {
	padding: 2px 5px;
	margin-right: 2px;
	border: none;
}

div.wp-pagenavi span.current {
	padding: 3px;
	margin: 3px;
	font-weight: bold;
	border-bottom: 2px solid navy;
	border-color: #33B5E5;
}

div.wp-pagenavi a {
	padding: 3px;
	margin: 3px;
	text-decoration: none;
	border-bottom: none;
}

div.wp-pagenavi a:HOVER {
	color: rgb(68, 68, 68) !important;
	border-bottom: 2px solid navy;
	border-color: #33B5E5;
	font-weight: bold;
}
 